---
import { teams } from '../data/teams.js';
---

<section id="teams"  class="teams py-12 md:py-24 lg:py-32 bg-gray-900">
    <div class="container mx-auto px-4 md:px-6">
      <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl text-white text-center mb-8">
        Equipos de los Worlds
      </h2>
      <div class="grid grid-cols-3 md:grid-cols-5 gap-4 justify-items-center">
        {teams.map((team) => (
          <div class="bg-gray-800 p-4 rounded-lg" >
            <a href={`/teams/${team.name.toLowerCase().replace(/\s+/g, '-')}`}>
              <img
                src={team.imageUrl}
                alt={`Equipo World ${team.name}`}
                width={100}
                height={100}
                class="rounded-full"
              />
            </a>
          </div>
        ))}
      </div>
    </div>
  </section>

  